<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<h3></h3>

<table>
  <thead>
    <tr>
      <th>投稿内容</th>
      <th>更新日時</th>
      <th>投稿日時</th>
      <th>投稿者(User_id)</th>
    </tr>
</table>

<tbody>
  <% @posts.each do |post| %>　　
    <tr>
      <td><%= post.content %></td>
      <td><%= post.updated_at.to_s(:datetime_jp) %></td>
      <td><%= post.created_at.to_s(:datetime_jp) %></td>
      <td><%= post.user_id %></td>
    </tr>
  <% end %>
</tbody>


<h3>新規投稿</h3>

<%= form_for@post do |f| %>

  <table>
    <tr>
      <th><%= f.label :content,"投稿内容" %></th>
      <td><%= f.text_area :content, class:"posts-content" %></td>
    </tr>
  </table>

  

  <div>
    <ul>
      <li><%= f.submit"投稿を完了する" %></li>
    </ul>
  </div>
<% end %>

<div>
  <ul>
    <li><%= link_to"ユーザー情報一覧に戻る", :users %></li>
  </ul>
</div>

<p><%= link_to"ユーザー情報一覧", :users %></p>