<h3>アカウント新規登録</h3>

<% form_for @user do |f| %>

  <table>
    <th><%=f.  %></th>
    <td><%=f.  %></td>
  </table>

  <table>
    <th><%=f.  %></th>
    <td><%=f.  %></td>
  </table>

  <table>
    <th><%=f.  %></th>
    <td><%=f.  %></td>
  </table>

  <table>
    <th><%=f.  %></th>
    <td><%=f.  %></td>
  </table>

  <div>
    <ul>
      <li></li>
      <li></li>
    </ul>
  </div>
<% end %>